body{
    background-color: #000000;
}
.app {
    font-family: Arial, sans-serif;
    padding: 4rem;
    background-color: #a894b3;
  }
  
  .user-list {
    max-width: 600px;
    margin: auto;
  }
  
  .search {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 16px;
  }
  
  .loading {
    color: #353333;
    font-size: 18px;
    text-align: center;
  }
  
  .user-card {
    background: #0604a2;
    color : white;
    padding: 30px;
    margin-bottom: 18px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(51, 45, 45, 0.1);
    border-left: white;
  }
  