body{
    background-color:lightgrey;

}
.employee-container{
    display: flex;
    margin-top: auto;
    flex-wrap: wrap;
    gap:20px;
    padding:20px;
    align-items: center;
}
.button{
    display: flex;
    margin-top: 20px,auto;
    gap:20px;
    padding :20px;
    align-items: center;
}
button:hover{
    background-color:lightblue;
    transition:0.4sec;
    cursor:pointer;
}